body {
    width: 80%;
    margin: 5% auto;
    min-height: auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #263238;
    background-color: #ECEFF1;
    font-size: 20px;
    border: 5px solid #607D8B;
}

.cv {
    padding-left: 5%;
    padding-right: 5%;
}

a {
    text-decoration: none;
    color: #607D8B;
}

h1 {
    text-align: center;
    margin: 10px 0;
    padding: 5%;
}

h2 {
    padding-top: 5%;
    margin: 20px 0;
}

.photo {
    float: right;
    padding-right: 5%;
    padding-top: 1%;
}

.contacts {
    padding-left: 5%;
    color: #607D8B;
}

.contacts img {
    width: 20px;
}

.skills {
    padding-left: 5%;
}

.summary {
    border-bottom: 2px inset #37474F;
}

.code-example {
    border-bottom: 2px inset #37474F;
}

code {
    display: block;
    color: #607D8B;
}

.education {
    border-bottom: 2px inset #37474F;
}

.language {
    border-bottom: 2px inset #37474F;
}